/*Reset*/
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-image: url(../img/sfondo.png);
}
.container{
  width: 55%;
  margin: auto;
  margin-top: 1.2%;
}
/*layout header*/
.titolo{
  background-color: white;
  height: 300px;
  background-image: url(../img/background-header.jpg);
  position: relative;
  border: 13px solid white;
}
.testo{
  width: 80%;
  text-align: center;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.testo h1{
  display: inline-block;
  padding: 10px;
  border: 5px solid white;
  margin-bottom: 30px;
  font-size: 50px;
  letter-spacing: 10px;
}

/*layout menu*/
.menu{
  background-color: #504741;
}
.menu ul{
  list-style-type: none;
  width: 80%;
  margin: auto;
  text-align: center;
  font-size:0;
}
.menu li:hover{
  background-color: black;
}
.menu li{
  display: inline-block;
  padding: 10px 12px;
  border-right: 1px solid black;
  font-size: 20px;
}
.menu li:last-child{
  border-right: 0;
}
.menu a{
  text-decoration: none;
  color: white;
}

/*layout main*/
main{
  margin: 0.5% 0;
}
.col{
  float: left;
  margin: 0.5% 0;
}
.col-left{
  width: 20%;
}
.col-left a{
  text-decoration: none;
  color: green;
}
.col-left i{
  float: left;
  font-size: 25px;
  margin-bottom: 20px;
  background-color: yellow;
}
.col-middle{
  width: 50%;
  margin: 0.5% 5%;
}
.col-right{
  width: 20%;
}
.col-middle .box, .col-right .box{
  padding: 10px;
}
h4{
  font-size: 28px;
}
.col-middle h4, .col-right h4{
  margin-bottom: 15px;
}
/*layout box*/
.box{
  width: 100%;
  background-color: white;
  margin-bottom: 10%;
  border-radius: 5px;
}
.box:last-child{
  margin-bottom: 0;
}
.col-left .box p{
  margin-bottom: 10px;
}
/*footer in fondo alla pagina*/
main::after {
  content: "";
  display: table;
  clear: both;
}
/*layout footer*/
footer{
  background-color: white;
}
footer p{
  text-align: center;
}
.logo-container{
  padding:5% 0;
  width: 90%;
  margin: auto;
  text-align: center;
}
.logo{
  padding-bottom: 5px;
  display: inline-block;
  font-size: 50px;
  color: grey;
}
.logo-left{
  width: 33%;
}
.logo-middle{
  width: 33%;
}
.logo-right{
  width: 33%;
}
footer p{
  font-style: italic;
  color: lightgray;
}
